{% extends "base.html" %}
{% block title %}Movie View{% endblock title %}

{% block content %}
    {% load static %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="video-container">
                    {% if request.user.is_authenticated %}
                        <video controls width="730" height="450px">
                            <source src="{% static "App\images\sample-5s.mp4" %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <a href="{% url 'login' %}" id="login-link">
                            <img src="{% static "App\images\funny.webp" %}" alt="Suggested Video Thumbnail" width="730" height="450px">
                        </a>
                    {% endif %}
                </div>
                <div id="title-container">
                    <h2>{{ movie.title }}</h2>
                    <h4>{{ movie.description }}</h4>
                    <p>LLLL</p>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Suggested Video</h2>
                {% for suggested_movie in movielist %}
                    <a href="{% url 'movie_detail' movie_id=suggested_movie %}" style="margin-right: 10px; margin-bottom: 10px; display: inline-block;">
                        <img src="{% static "App\images\funny.webp" %}" alt="Suggested Video Thumbnail" width="250" height="150">
                    </a>
                {% endfor %}
            </div>
        </div>
        <hr style="border-top: 2px solid #000;">
        <section class="content-item" id="comments">
            <div class="container">   
                <div class="row">
                    <div class="col-sm-8">
                        {% if request.user.is_authenticated %}
                            <form method="post" action="{% url 'movie_detail' movie_id=movie.movieID %}" class="comment-form">
                                {% csrf_token %}
                                <h3>New Comment</h3>
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.content }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </fieldset>
                            </form>
                        {% endif %}
                        
                        <h3>Comments</h3>
                        <div>
                            {% for comment in comments %}
                                <p>{{ comment.username }}: {{ comment.content }}</p>
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            <span class="step-links">
                                {% if comments.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ comments.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                                </span>
                        
                                {% if comments.has_next %}
                                    <a href="?page={{ comments.next_page_number }}">next</a>
                                    <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br><br><br><br><br><br>
{% endblock content %}



